*{
    background-color: aquamarine;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header{
    font-size:x-large;
    font-style: italic;
    text-align: center;
    border-radius: 155px;
    color: red;

}
div{
    position: relative;
    object-fit: contain;
    max-height: 0;
}
h1{
    font-size:x-large;
    font-style: italic;
    color: red;
}
img{
    display: block;
    margin: 0 auto;
}
a {
    color: red;
    filter: blur();
    
}
p{
    font-size:x-large;
    font-style: italic; 
}

